.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indicators {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    /* border: 4px solid #1d1e22; */
    border: 4px solid #867c48;
    margin-top: 2rem;
    cursor: pointer;
}

.spaced-logos {
    display: flex;
    justify-content: space-evenly;
}