.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}